.article-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: var(--space-3xl);
}

.article-list > *:first-child {
  grid-column: 1/-2;
}

.details {
  color: white;
  margin: 0 auto;
  opacity: 1;
  text-align: left;
  height:100%;
  position:relative;
  min-height:310px;
}

.subdetails {
  color:white;
  /* position:absolute; use this if you want to float the article summary */
  bottom:0;
  left:0;
  font-size: var(--text-sm);
  background:rgba(0,0,0,.5);
  text-align:left;
  padding:3px;
}

.title {
  display: inline-block;
  font-size: var(--text-lg);
  margin-bottom: var(--space-xs);
  margin-top: var(--space-lg);
  border-bottom: 1.5px solid transparent;
}

.link {
  text-decoration: none;
}

.link:hover .title {
  border-bottom-color: var(--primary);
}

.meta {
  display: flex;
  justify-content: space-between;
}
